.main {
  display: flex;
  background-color: #B4B4B4;
}
.chatWindow {
  display: flex;
  flex-direction: row-reverse;
  background-color: #75898E;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
}
.imageContainer{
  background-color: #1E294C;
  padding: 5px;
}
.messagesContainer{
  background-color: #1E294C;
  margin-right: 15px;
  border-radius: 5px;
  padding: 10px;
}
.message{
  font-family: monospace;
}
.sentimentContainer{
  height: 5px;
  background-color: azure;
  width: 100%;
}
.sentimentBar{
  height: 100%;
  background-color: darkkhaki;
}